@font-face {
    font-family: "Motiva Sans";
    src: url("/assets/fonts/MotivaSansMedium.ttf") format("truetype");
}

@layer base {
    /* Reset */
    *:not(.allow-select) {
        user-select: none;
    }
    img {
        pointer-events: none;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    /* Default */
    body {
        width: 100vw;
        height: 100vh;
        margin: 0;
        font-family: "Motiva Sans", "Noto Sans", sans-serif;
    }

    *,
    button {
        color: var(--color-secondary);
    }

    /* Transition */
    *.ui-transition {
        transition: all 0.25s ease-in-out;
    }

    /* Heading Font Set */
    .ui-font-hl {
        font-size: 26px;
        font-weight: 700;
    }

    .ui-font-hm {
        font-size: 22px;
        font-weight: 700;
    }

    .ui-font-hs {
        font-size: 18px;
        font-weight: 700;
    }

    /* Body Font Set */
    .ui-font-bl {
        font-size: 16px;
        font-weight: 400;
    }

    .ui-font-bm {
        font-size: 14px;
        font-weight: 400;
    }

    .ui-font-bs {
        font-size: 12px;
        font-weight: 400;
    }
}

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer components {
    .avatar-busy:before {
        content: "";
        position: absolute;
        z-index: 1;
        display: block;
        border-radius: calc(infinity * 1px);
        background-color: var(--color-error);
        outline: 2px solid var(--color-base-100);
        width: 15%;
        height: 15%;
        top: 7%;
        right: 7%;
    }

    .avatar-invisible::before {
        content: "";
        position: absolute;
        z-index: 1;
        display: block;
        border-radius: calc(infinity * 1px);
        background-color: var(--color-warning);
        outline: 2px solid var(--color-base-100);
        width: 15%;
        height: 15%;
        top: 7%;
        right: 7%;
    }

    .ui-background-machine {
        background-image: url("/assets/images/BgMachine.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 10%;
    }
}

@plugin "daisyui" {
    exclude: rootscrollgutter, scrollbar;
}

@plugin "daisyui/theme" {
    name: "sonolight";
    default: true;
    prefersdark: false;
    color-scheme: "light";

    /* Base Colors */
    --color-base-content: oklch(25.33% 0.0222 83.03);
    --color-primary: oklch(0.5864 0.2272 26.8);
    --color-primary-content: oklch(98% 0.002 247.839);
    --color-secondary: oklch(12% 0.0615 83.03);
    --color-secondary-content: oklch(21% 0.034 264.665);
    --color-accent: oklch(86% 0.1824 103.09);
    --color-accent-content: oklch(21% 0.034 264.665);
    --color-neutral: oklch(44% 0.043 257.281);
    --color-neutral-content: oklch(98% 0.003 247.858);
    --color-info: oklch(72% 0.16 256.91);
    --color-info-content: oklch(29% 0.16 256.91);
    --color-success: oklch(80% 0.177 136.2);
    --color-success-content: oklch(37% 0.177 136.2);
    --color-warning: oklch(80% 0.1569 73.05);
    --color-warning-content: oklch(27% 0.077 45.635);
    --color-error: oklch(72% 0.191 22.216);
    --color-error-content: oklch(25% 0.092 26.042);

    /* Component Styles */
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}

@plugin "daisyui/theme" {
    name: "sonodark";
    default: false;
    prefersdark: true;
    color-scheme: "dark";

    /* Base Colors */
    --color-base-content: oklch(95% 0.0222 83.03);
    --color-primary: oklch(0.5864 0.2272 26.8);
    --color-primary-content: oklch(98% 0.002 247.839);
    --color-secondary: oklch(90.88% 0.0615 83.03);
    --color-secondary-content: oklch(21% 0.034 264.665);
    --color-accent: oklch(72% 0.1824 103.09);
    --color-accent-content: oklch(21% 0.034 264.665);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: oklch(58% 0.16 256.91);
    --color-info-content: oklch(29% 0.16 256.91);
    --color-success: oklch(76% 0.177 136.2);
    --color-success-content: oklch(37% 0.177 136.2);
    --color-warning: oklch(76% 0.1569 73.05);
    --color-warning-content: oklch(27% 0.077 45.635);
    --color-error: oklch(58% 0.191 22.216);
    --color-error-content: oklch(25% 0.092 26.042);

    /* Component Styles */
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}
